{% extends "base.html" %}
{% block title %}
	Admin settings
{% endblock %}

{% block content %}

    <h1>Admin settings</h1>

    <style>
        table, th, td {
          border:1px solid black;
        }

    </style>
<div class="row">
  <div class="col-md-4">
      <div class="list-group list-group-flush mx-3 mt-4">
                  <a href="{% url 'profiles:add_app' %}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Add new App</span>
                  </a>
                  <a href="{% url 'profiles:profile-role'%}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Users Role Update</span>
                  </a>
                </div>
  </div>
  <div class="col-md-8">
      <table>
    <caption style="caption-side:top" class="text-md-center">List of users</caption>
    <th>ID</th>
    <th>Username</th>
    <th>Name</th>
    <th>Role</th>
    {% for user in users %}
        <tr >
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user }}</td>
        <td class="editable" data-id="{{ user.id }}" data-type="roles">{{ user.roles }}</td>
        </tr>

    {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function(){
            $(document).on("dblclick",".editable",function(){
                var value=$(this).text();
                var data_type=$(this).data("type");
                var input_type="text";
                var input="<input type='"+input_type+"' class='input-data' value='"+value+"' class='form-control'>";
                $(this).html(input);
                $(this).removeClass("editable")
            });

            $(document).on("blur",".input-data",function(){
                var value=$(this).val();
                var td=$(this).parent("td");
                $(this).remove();
                td.html(value);
                td.addClass("editable");
                var type=td.data("type");
                sendToServer(td.data("id"),value,type);
            });
            $(document).on("keypress",".input-data",function(e){
                var key=e.which;
                if(key===13){
                    var value=$(this).val();
                    var td=$(this).parent("td");
                    $(this).remove();
                    td.html(value);
                    td.addClass("editable");
                   var type=td.data("type");
                   sendToServer(td.data("id"),value,type);
                }
            });

            function sendToServer(id,value,type){
                console.log(id);
                console.log(value);
                console.log(type);
                $.ajax({
                    url:"http://127.0.0.1:8000/profile/user_list/",
                    type:"POST",
                    data:{id:id,roles:value},
                })
                .done(function(response){
                    console.log(response);
                })
                .fail(function(){
                   console.log("Error Occured");
                });

            }
        });
    </script>
{% endblock %}